Package: wizzccnabaztagcontrl.guyou
Version: 0.1
Click-Version: 0.4
Architecture: all
Maintainer: Guilhem Bonnefille <guilhem.bonnefille@gmail.com>
Installed-Size: 25
Description: Wizz.cc Nabaztag Contrôleur
